[submodule "go-hello-playground"]
	path = go-hello-playground
	url = git@github.com:solairerove/go-hello-playground.git
	branch = master
	
[submodule "go-short-declaration-playground"]
	path = go-short-declaration-playground
	url = git@github.com:solairerove/go-short-declaration-playground.git
	branch = master

[submodule "go-var-declaration-playground"]
	path = go-var-declaration-playground
	url = git@github.com:solairerove/go-var-declaration-playground.git
	branch = master

[submodule "go-own-type-playground"]
	path = go-own-type-playground
	url = git@github.com:solairerove/go-own-type-playground.git
	branch = master

[submodule "go-ninja-lvl-1-playground"]
	path = go-ninja-lvl-1-playground
	url = git@github.com:solairerove/go-ninja-lvl-1-playground.git
	branch = master

[submodule "go-ninja-lvl-2-playground"]
	path = go-ninja-lvl-2-playground
	url = git@github.com:solairerove/go-ninja-lvl-2-playground.git
	branch = master

[submodule "go-loop-playground"]
	path = go-loop-playground
	url = git@github.com:solairerove/go-loop-playground.git
	branch = master

[submodule "go-ninja-lvl-3-playground"]
	path = go-ninja-lvl-3-playground
	url = git@github.com:solairerove/go-ninja-lvl-3-playground.git
	branch = master

[submodule "go-groupping-data-playground"]
	path = go-groupping-data-playground
	url = git@github.com:solairerove/go-groupping-data-playground.git
	branch = master
